/* Global button styles start */
.btn {
  color: var(--green-1);
  font-family: Poppins;
  font-weight: 500;
  border-radius: 8px;
  font-size: 1.4rem;
  padding: 1.2rem 2rem;
}
.primary-btn {
  color: var(--white-1);
  background: var(--green-1);
  transition: all 0.5s ease-in-out;
}

.primary-btn:hover {
  background: var(--green-2);
  color: var(--black-1);
}
.btn:hover {
  color: var(--black-1);
}
/* Global button styles end */
/* Nav Styles start */
.nav {
  padding: 2rem 0;
}
.nav_icon,
.nav_close,
.nav_bgOverlay {
  display: none;
}
.nav_wrapper {
  display: flex;
  justify-content: space-between;
}
.nav_list li {
  display: inline-block;
  margin: 0 1rem;
}
.nav_list .nav_link {
  font-size: 1.8rem;
  font-family: Poppins;
  color: var(--black-2);
  padding: 0.5rem;
}
.nav_list li:hover .nav_link {
  color: var(--green-1);
}
/* Nav Styles end */

/* Store info section styles start */
.storeInfo_wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.storeInfo_item {
  background-color: var(--lightGreen-1);
  padding: 20px 30px;
  text-align: center;
  border-radius: 12px;
  width: 150px;
}
.storeInfo_icon {
  width: 30px;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
.storeInfo_title {
  font-size: 1.4rem;
  font-family: Poppins;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: var(--black-1);
}
.storeInfo_title a {
  color: var(--black-1);
}
.storeInfo_title a:hover {
  color: var(--green-1);
}
.storeInfo_text {
  font-size: 1.4rem;
  font-family: Raleway;
  color: var(--black-2);
}
@media only screen and (min-width: 768px) {
  .storeInfo_wrapper {
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
  .storeInfo_item {
    min-width: 200px;
    padding: 40px 0;
  }
  .storeInfo_icon {
    width: 47px;
    margin-bottom: 2.5rem;
  }
  .storeInfo_title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  .storeInfo_text {
    font-size: 1.6rem;
  }
}
/* Store info section styles end */

/* Footer Styles start */
footer {
  background: var(--lightGreen-1);
  padding-top: 5rem;
  padding-bottom: 2rem;
}
.footer_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3rem;
}
.footer_logo {
  width: 100%;
  margin-bottom: 2rem;
}
.footer_desc {
  font-size: 1.4rem;
  color: var(--black-2);
  margin-bottom: 2rem;
}
.footer_socials_title {
  font-size: 1.8rem;
  color: var(--black-1);
  margin-bottom: 1rem;
}
.footer_socials li {
  display: inline-block;
  margin-right: 0.5rem;
}
.footer_socials a {
  padding: 0.5rem 0.8rem;
  color: var(--black-2);
  background-color: var(--white-1);
  border: 1px solid var(--green-2);
  border-radius: 8px;
}

.footer_socials #facebook:hover {
  background: var(--facebook-background);
  color: var(--white-1);
}
.footer_socials #instagram:hover {
  background: var(--cerise-1);
  background: var(--instagram-background);
  color: var(--white-1);
}
.footer_socials #twitter:hover {
  background-color: var(--twitter-background);
  color: var(--white-1);
}
.footer_socials i {
  font-size: 20px;
}
.footer_text_title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: var(--black-1);
  font-weight: 600;
}
.footer_text a {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  color: var(--black-2);
  font-family: Raleway;
  font-weight: 500;
  line-height: 1.4em;
}
.footer_text a:hover {
  color: var(--green-1);
}
#copyright {
  padding: 1rem 0;
}
.copyright_text {
  font-size: 1.4rem;
  text-align: center;
}
.copyright_text img {
  width: 1.7%;
}
.emoji {
  vertical-align: middle;
}
.copyright_text a {
  border-bottom: 1px solid var(--green-1);
  padding-bottom: 0.25em;
}
.copyright_text a:hover {
  /* color: var(--green-1); */
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 40%;
  border-bottom: 0;
  padding-bottom: 0.3em;
}

/* Footer Styles end */

/* media query start */
@media only screen and (max-width: 767px) {
  /* Global button styles start */
  .btn {
    padding: 1.3rem 2rem;
    font-size: 2rem;
  }
  /* Global button styles end */
  /* Nav Styles start */
  .nav {
    position: relative;
  }
  .nav_icon {
    display: block;
  }
  .nav_icon i,
  .nav_close i {
    pointer-events: none;
    font-size: 30px;
  }
  .nav_close {
    display: block;
    position: absolute;
    color: var(--black-1);
    right: 1rem;
    top: 1rem;
    cursor: pointer;
  }
  .nav_list {
    z-index: 1000;
    position: absolute;
    left: 100%;
    top: 0;
    height: 100vh;
    width: 60%;
    background: var(--lightGreen-1);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2rem;
    transform: translate(0%);
    overflow: hidden;
    transition: 0.3s ease-in transform;
  }
  .nav_list.show {
    transform: translate(-100%);
  }
  .nav_list li {
    display: block;
    text-align: right;
    margin-bottom: 2rem;
  }
  .nav_list a {
    font-size: 1.6rem;
  }
  .nav_bgOverlay {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    height: 100vh;
    width: 100%;
    background: rgba(18, 24, 14, 0.808);
    display: none;
  }
  .nav_bgOverlay.active {
    display: block;
  }
  /* Nav Styles end */

  /* Footer Styles start */
  footer {
    padding-top: 8rem;
    padding-bottom: 4rem;
  }
  .footer_wrapper {
    flex-direction: column;
  }
  .footer_desc {
    max-width: 300px;
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
  }
  .footer_socials_title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  .footer_text_title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .footer_text a {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  .copyright_text {
    font-size: 1.6rem;
    text-align: left;
  }
  /* Footer Styles end */
}
/* media query end */
